* {
    font-family: Arial, Helvetica, sans-serif;
}

table, td, th {
    border: 1px solid black;
}

td {
    padding: 5px;
}

table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    margin: 10px auto;
}

.button1, a {
    border: 2px solid black;
    border-radius: 4px;
    text-decoration: none;
    color: black;
    padding: 6px;
    background-color: white;
    font-size: 22px;
    font-weight: normal;
    font-family: inherit;
    margin: 5px;
}

.button1:hover, a:hover {
    transition: 100ms;
    background-color: yellow;
}

form div {
    margin: 5px 10px;
}

form {
    text-align: center;
}

